<<<<<<< Updated upstream
<div class=" card border-primary mb-3 admincard">
  <div class="row">
    <div class="col mt-0">
      <div class="card-header h4">Number of courses</div>
=======
<div class ="col-3">
  <div class="card  mb-3 stylecard " >
    <div class="card-body text-primary">
      <h5 class="card-title">Number Of Courses</h5>
      <p class="card-text h4 pt-4 text-secondary"> <%=analytics.NoOfCourses%></p>
    </div>
  </div>
  <div class="card  mb-3 stylecard" >
    <div class="card-body text-secondary">
      <h5 class="card-title ">Number Of Learners </h5>
      <p class="card-text h4 pt-4 text-secondary"><%=analytics.NoOflearner%></p>
    </div>
  </div>
  </div>
  <div class ="col-3">
    <div class="card  mb-3 stylecard" >
>>>>>>> Stashed changes
      <div class="card-body text-primary">
        <h5 class="card-title "> <%=analytics.NoOfCourses%> </h5>
      </div>
    </div>
  </div>
  <div class=" card border-primary mb-3 admincard">
    <div class="row">
      <div class="col mt-0">
        <div class="card-header h4">Number of Usere</div>
        <div class="card-body text-primary">
          <h5 class="card-title "> <%=analytics.NoOflearner%> </h5>
        </div>
      </div>
    </div>
    <div class=" card border-primary mb-3 admincard ">
      <div class="row">
        <div class="col mt-0">
          <div class="card-header h4">Number of Usere</div>
          <div class="card-body text-primary">
            <h5 class="card-title "> <%=analytics.TotalEnrolledUserCount%> </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>