<%- include('partials/header'); %>
    <div class="container-fluid CourseCardContainer">
      <% for (var i = 0; i < (pageCourses.length)/2; i++) { %>
        <div class="CourseCard">
          <div class="row CourseCardRow1 ">
            <img class="course-IMG" src=<%= pageCourses[i].image %> />
          </div>
          <div class="row CourseCardRow2 ">
            <h2 class="course-h2">
              <%= pageCourses[i].title %>
                <h2>
                  <p class="course-p"><%= pageCourses[i].description %></p>
          </div>
      </div>
      <% } %>
    </div>
    <div class="container-fluid CourseCardContainer">
    <% for (var j = (pageCourses.length)/2; j < (pageCourses.length); j++) { %>
      <div class="CourseCard">
        <div class="row CourseCardRow1 ">
          <img class="course-IMG" src=<%= pageCourses[j].image %> />
        </div>
        <div class="row CourseCardRow2 ">
          <h2 class="course-h2">
            <%= pageCourses[j].title %>
              <h2>
                <p class="course-p"><%= pageCourses[j].description %></p>
        </div>
    </div>
    <% } %>
    </div>

    <%- include('partials/footer'); %>

