<div class="block-27">
    <ul>
      <li><a href="/courses?page=<%= 5%>">&lt;</a></li>
      <li class="active"><span>1</span></li>
      <li><a href="/courses?page=<%=2%>">2</a></li>
      <li><a href="/courses?page=<%=3%>">3</a></li>
      <li><a href="/courses?page=<%=4%>">4</a></li>
      <li><a href="/courses?page=<%=5%>">5</a></li>
      <li><a href="/courses?page=<%=2%>">&gt;</a></li>
    </ul>
  </div>