<div class="block-27">
  <ul>
    <li><a href="/courses?page=<%= 1%>">&lt;</a></li>
    <li class="active"><a href="/courses?page=<%=1%>"><span>1</span></a></li>
    <li><a href="/courses?page=<%=2%>">2</a></li>
    <li><a href="/courses?page=<%=3%>">3</a></li>
    <li><a href="/courses?page=<%=4%>">4</a></li>
    <li><a href="/courses?page=<%=5%>">5</a></li>
    <li><a href="/courses?page=<%=6%>">6</a></li>
    <li><a href="/courses?page=<%=7%>">7</a></li>
    <li><a href="/courses?page=<%=2%>">&gt;</a></li>
  </ul>
</div>